* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    margin: 12px;
}

.header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 12px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 12px;
}

.green-container {
    max-width: fit-content;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid #c0c0c0;
    padding: 10px 6px;
    background-color: #fff;
    border-radius: 24px;
    margin-bottom: 10px;
}

section {
    width: calc(100% - 24px) !important;
}

.card-info {
    margin-left: 48px;
}

.card .title {
    font-weight: bold;
    font-size: 18px;
}

.card .subtitle {
    font-size: 14px;
    color: #888;
}



@media (max-width: 600px) {
    section {
        width: calc(100% - 24px) !important;
    }

    .row {
        flex-direction: column;
    }

    .header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .subtitle {
        font-size: 14px;
        margin-bottom: 12px;
    }

}