.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

@media  (max-width: 768px) {
    .container {
        max-width: calc(100% - 48px) !important;
        margin: 0 auto;
        padding: 20px;
    }
}
